Detect heart disease. build model from dataset

In [ ]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# Load data into dataframe
df=pd.read_csv("/content/heart.csv")

In [ ]:
#look at dataset
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

Last column "target" is the target

In [ ]:
#Look columns, datatypes, andd non-null count
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
# row x columns
df.shape

(303, 14)

In [ ]:
# Check missing values
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

We have no missing values

Look at statistical info of dataset

In [ ]:
df.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
#look at target distribution
df["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

1 = heart problem
0 = healthy heart

Split the feature and target

In [ ]:
# create X and Y variables
X=df.drop(columns='target',axis=1)
Y=df["target"]

In [ ]:
print(X)
print("BREAK")
print(Y)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]
BREAK
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

split data into training and testing data

In [ ]:
# split data into 30% test data, 70% training
# stratify-Y, so training and test data have evenly distributed target data
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.3,stratify=Y, random_state=0)

In [ ]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(303, 13)
(212, 13)
(91, 13)

Train the model

In [ ]:
model=LogisticRegression(class_weight="balanced",max_iter=10000)

In [ ]:
model.fit(X_train,Y_train)

LogisticRegression(class_weight='balanced', max_iter=10000)

Test Accuracy

In [ ]:
# accuracy test for training data
X_prediction=model.predict(X_train)
train_accuracy=accuracy_score(X_prediction,Y_train)
print("training data accuracy: ", train_accuracy)

training data accuracy:  0.839622641509434

In [ ]:
# accuracy test for test data
Xprediction_test=model.predict(X_test)
test_accuracy= accuracy_score(Xprediction_test,Y_test)
print(test_accuracy)

0.8791208791208791

Build predictive system

In [ ]:
#this patient has heart disease
patient_info=(63,1,3,145,233,1,0,150,0,2.3,0,0,1)
numpy_patient_info=np.asarray(patient_info)
#reshape
reshape_patient_info=numpy_patient_info.reshape(1,-1)
prediction=model.predict(reshape_patient_info)
print(prediction)
if prediction ==0:
  print("Patient has healthy heart")
else:
  print("Patient has heart problem")

[1]
Patient has heart problem

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

Predictive system correctly identified patient with heart problem